<%= content_for(:angular_app) do  %>
  ng-app = "app"
<% end %>

<nav class="navbar navbar-default">
  <div class='container-fluid'>
    <div class="navbar-left">
      <h2>Djello(The 'D' is silent)
        <%= image_tag "http://blogs.discovermagazine.com/80beats/files/2011/07/Jello.jpg", class: "jello-image" %><h2>
    </div>
    <div class="navbar-right">
      <h3>Welcome, <%= current_user.username %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    </div>
  </div>
</nav>

<div ui-view="main-content"></div>