// Place all the styles related to the Boards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.select-boards {
  float:right;
  margin-right:20px;
}

.board-list-container {
  margin-top:50px;
}

.pagination-buttons {

  margin-left:600px;
}

h1.editable-click {
  cursor: crosshair;
  border:none;
  color:black;
}